.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    contain: layout style size;

    &.media-blend {
        z-index: 100;
        mix-blend-mode: exclusion;

        .cursor-media {
            filter: invert(1);
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transform: scale(0.2);
        background: black
    }

    .cursor-media {
        display: block;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        overflow: hidden;
        transform: scale(0);
        margin: -175px 0 0 -175px;
        position: relative;

        video {
            height: 350px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;

        }

        #desserts {

            height: 350px;
            left: 46%;
            transform: translateX(-50%);
            position: absolute;
            top: 5%;

        }
    }
}